*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#f4f7fc;
line-height:1.6;
}

header{
background:linear-gradient(90deg,#ff512f,#dd2476);
color:white;
padding:40px;
text-align:center;
}

header h1{
font-family:'Bangers',cursive;
font-size:4rem;
letter-spacing:3px;
}

nav{
background:#222;
}

nav ul{
display:flex;
justify-content:center;
list-style:none;
}

nav li{
padding:15px;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:yellow;
}

.hero{
height:70vh;
display:flex;
justify-content:center;
align-items:center;
background:url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4")
center/cover;
color:white;
text-align:center;
}

.contenido{
background:rgba(0,0,0,.6);
padding:30px;
border-radius:15px;
}

button{
background:#ff512f;
color:white;
padding:12px 25px;
border:none;
border-radius:10px;
cursor:pointer;
margin-top:15px;
}

button:hover{
background:#dd2476;
}

section{
padding:60px 10%;
}

h2{
margin-bottom:20px;
color:#222;
}

.card{
background:white;
padding:20px;
margin:15px 0;
border-radius:15px;
box-shadow:0 0 10px rgba(0,0,0,.1);
}

.video{
display:flex;
justify-content:center;
margin-top:30px;
}

.actividad{
background:white;
padding:20px;
margin-top:20px;
border-radius:15px;
box-shadow:0 0 10px rgba(0,0,0,.1);
}

textarea{
width:100%;
height:120px;
padding:10px;
margin-top:15px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

table th{
background:#ff512f;
color:white;
padding:15px;
}

table td{
padding:15px;
border:1px solid #ddd;
text-align:center;
}

footer{
background:#222;
color:white;
text-align:center;
padding:30px;
margin-top:50px;
}